/* .container{
    @apply md:flex flex-row h-screen max-h-screen bg-black text-white justify-around pl-2 pr-5 flex-wrap
} */
.container{
    @apply flex md:flex-row pt-4 flex-col gap-2 h-screen relative bg-black text-white flex-wrap md:items-stretch
}

.left{
    @apply flex flex-col w-full md:w-1/3 pl-10 md:ml-28 relative overflow-hidden
}

.left>div>span{
    @apply font-poppins font-semibold mb-5 text-5xl
}

.right{
    @apply flex flex-col w-full relative md:w-1/2
}

.right>span{
    @apply ml-4 
}

.containerright{
    @apply flex absolute top-0 md:pt-5 w-full flex-wrap gap-3 md:left-5  justify-center rounded-xl
}

.perfilnav{
    @apply z-20
}

.whiteGradient{
    background: rgba(103, 41, 225, 0.2);
    filter: blur(900px);
    @apply absolute w-1/2 h-1/2 rounded-full top-0 right-0 z-0
}

.greenGradient{
    background: rgba(34, 190, 65, 0.2);
    filter: blur(900px);
    @apply absolute w-1/2 h-1/2 rounded-full top-10 right-0
}

.pinkGradient{
    background: rgba(255, 100, 255, 0.2);
    filter: blur(750px);
    @apply absolute w-1/2 h-1/2 rounded-full top-56 right-0
}