.icon{
    @apply cursor-pointer w-7 h-7 rounded z-0
}

.icon:hover{
    transform: scale(0.8);
    /* @apply  */
}

.iconLabel{
    transform: translate(0px, 10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    pointer-events: none;
    @apply absolute z-10 text-[0.5rem] text-center w-9 -left-1 text-white bg-slate-900 absolute rounded -top-3
}

.iconWrapper>div{
    @apply relative
}

.iconWrapper>div:hover span{
    opacity: 1;
    transform: translate(0px, 0px);
    /* @apply relative */
}

.cards{
    @apply flex relative w-full h-full flex-row flex-wrap justify-around
}

.card{
    transform-style: preserve-3d;
    @apply flex w-44 h-56 flex-wrap 
}

/* .card:hover{
    transform: rotateY(180deg);
    @apply bg-opacity-50 shadow-2xl
} */

.girar{
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    @apply flex w-44 h-56 flex-wrap 
    /* @apply bg-opacity-50 shadow-2xl */
}

.cardFront>span{
    @apply w-full text-center text-2xl
}

.cardBack>span{
    @apply w-full text-center text-2xl
}

.cardFront{
    backface-visibility: hidden;
    transform: rotateY(0deg);
    @apply  w-full h-full flex flex-col justify-between py-2 items-center bg-gray-700 bg-opacity-40 rounded-2xl absolute
}

.cardBack{
    backface-visibility: hidden;
    transform: rotateY(180deg);
    @apply  w-full h-full flex flex-col justify-between py-2 items-center bg-gray-700 bg-opacity-40 rounded-2xl absolute
}

.cardBack>span{
    @apply top-0
}

.iconWrapper{
    @apply flex flex-wrap justify-center px-3 gap-2 
}