.icon{
    @apply cursor-pointer w-8 h-8 rounded 
}

.prueba{
    @apply py-1
}

.cards{
    @apply flex relative w-full h-full flex-row flex-wrap justify-around mt-4 px-3
}

.card{
    transform-style: preserve-3d;
    @apply flex w-48 md:w-52 h-56 md:h-60 md:absolute 
}

/* .card:hover{
    transform: rotateY(180deg);
    @apply bg-opacity-50 shadow-2xl
} */

.girar{
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    @apply flex w-48 md:w-52 h-56 md:h-60 md:absolute  
    /* @apply bg-opacity-50 shadow-2xl */
}

.cardFront>span{
    @apply w-full text-center text-2xl
}

.cardBack>span{
    @apply w-full text-center text-2xl
}

.cardFront{
    backface-visibility: hidden;
    transform: rotateY(0deg);
    /* border: 1px solid black; */
    @apply absolute w-full h-full flex flex-wrap flex-col justify-center gap-4 items-center bg-gray-700 bg-opacity-40 rounded-2xl
}

.cardBack{
    backface-visibility: hidden;
    transform: rotateY(180deg);
    @apply absolute w-full h-full flex flex-wrap flex-col justify-center gap-4 items-center  bg-gray-700 bg-opacity-40 rounded-2xl
}

.cardBack>span{
    @apply top-0
}

.iconWrapper{
    @apply flex flex-wrap justify-center px-3 gap-2
}