.experience{
  /* position: absolute; */
  background-color: red;
  width: 100%;
  height: 100%;
}

.button{
  width: 30px;
  height: 30px;
}

.main{
  position: relative;
  /* top: 0;
  left: 0;
  width: 100%;
  height: 100%; */

  /* padding: 5rem 0 3rem;
  position: relative;
  overflow: hidden;
  background: linear-gradient(var(--black), var(--black2)); */
}

.canvas{
  /* top: 0;
  left: 0; */
  /* width: 100%; */
  background-color: black;
  position: relative;
  @apply h-screen max-h-screen bg-black
  /* height: 100vh;
  max-height: 100vh; */
  /* overflow-y: scroll; */
}

/* .canvas>span:nth-of-type(3){
  padding-right: 1rem;
} */

.container{
  /* height: 100vh; */
  /* max-height: 100vh;
  background-color: black;
  @apply flex justify-around h-screen */
  /* display: flex;
  justify-content: space-around; */
  /* background-color: rgb(50, 50, 50); */
}

.hero-text>div{
  color: white;
}

.hero-name{
  color: white;
  position: absolute;
  top: 250px;
  /* left: 100px; */
  font-size: 40px;
  @apply font-poppins font-semibold left-28
}

.cargo{
  color: white;
  position: absolute;
  top: 298px;
  left: 100px;
  font-size: 27px;
  /* @apply font-poppins font-semibold */
  @apply left-28
}

.maquina-escribir{
  /* background-color: rgb(92, 199, 221);  */
  top: 338px;
  left: 100px;
  position: absolute;
  @apply left-28
}

.maquina-escribir:after{
  content: "";
  border-left: 3px solid rgb(255, 255, 255);
  background: black;
  right: 0;
  /* width: 100%; */
  height: 100%; 
  position: absolute;
  
  animation: maquinaescribirblink 0.5s infinite alternate steps(--step);
}

@keyframes maquinaescribirblink{
  from{
    width: 100%;
  }
  to{
    width: 0;
  }
}

/* .Typewriter{
  color: white;
  position: absolute;
  top: 370px;
  background: green;
}

.Typewriter__wraper{
  color: white;
} */

.write{
  color: white;
  position: absolute;
  top: 500px;
  left: 100px;
  font-size: 27px;
}

.button--card{
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
  @apply py-1 px-2 font-poppins font-medium rounded w-1/3
}